
# tools
*.tar.gz
.tarignore
tests/
tarruj

# executables
prog
similar_lines

# notes
exclu.org

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Valgrind ###
# Callgrind output files
callgrind.out
callgrind.out.*

# Cachegrind output files
cachegrind.out
cachegrind.out.*

# Massif output files
massif.out
massif.out.*

# BBV output files
bb.out
bb.out.*

### Make ###
Testing

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# Flycheck
flycheck_*.el

# projectiles files
.projectile


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

### Tags ###
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out